@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <abbr title="Phone">Fone:</abbr>11 97514-9058
</address>

<address>
    <strong>Contato:</strong>   <a href="mailto:udpimenta@hotmail.com">udpimenta@hotmail.com</a>
</address>